.header{
  height: 58px;
  border-bottom: 1px solid #f0f0f0; 

  .logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 58px;
    display: block;
    background-image: url("../../static/logo.png");
    background-size: contain;
  }

  .nav{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background: red; 
  }
}