@font-face {
  font-family: "iconfont"; /* Project id 3604471 */
  src: url('./iconfont.woff2?t=1661436005696') format('woff2'),
       url('./iconfont.woff?t=1661436005696') format('woff'),
       url('./iconfont.ttf?t=1661436005696') format('truetype');
}

.iconfont {
  font-style: normal;
  font-size: 16px;
  font-family: "iconfont" !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-weixin:before {
  content: "\e608";
}

.icon-changjianwentixiangguanwenti:before {
  content: "\e689";
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-shoucangjia:before {
  content: "\e672";
}

.icon-qianbao:before {
  content: "\e70a";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-mima:before {
  content: "\e6b2";
}

.icon-weibo:before {
  content: "\e618";
}

.icon-tuichu:before {
  content: "\e612";
}

.icon-yonghu:before {
  content: "\e60e";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-jia:before {
  content: "\e601";
}

.icon-xinxi:before {
  content: "\e633";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-shang:before {
  content: "\e611";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-diamond:before {
  content: "\e63d";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-shuaxin:before {
  content: "\e6a7";
}

.icon-menu_shjb:before {
  content: "\e65a";
}

.icon-yongyan:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-huiyuan:before {
  content: "\e654";
}

.icon-lishi:before {
  content: "\e63b";
}

.icon-faxian:before {
  content: "\e63c";
}

.icon-xiaoxi:before {
  content: "\e60f";
}

.icon-line-codeboxdaimahezi:before {
  content: "\e6f1";
}

